{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% comment %}     {% include 'course/components/navbar.html' with name ='Rust' %} to include component with parameter name here is parameter with value Rust  {% endcomment %}
    {% include 'course/components/navbar.html' %}
    {% block content %}
     <header>
        <h1>{% block header %}Home Page{% endblock header %}</h1>
    </header>
    {% if students %}
<h1>Student List: </h1>
{%for student in students%}
<li>{{student.name}} - {{student.email}}</li>
 {% endfor %} 
{% else %}
<h1> No Data</h1>
{% endif %}
    {% endblock content %}
        {% block footer %}
     this is base footer
    {% endblock footer %}
   


</body>
</html>