<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Successful</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <div class="container">
        <h1>Success!</h1>
        <p>Your form has been submitted successfully.</p>
        {% comment %} <a href="{% url 'course:index' %}">Return to Course List</a> {% endcomment %}
    </div>
</body>
</html>