{% extends "core/base.html" %}
{% block title %}Generate QR{% endblock title %} 

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Generate QR Code</h2>
            <form action ="{% url 'generate_qr' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="mobile_number">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="mobile_number" required>
                </div>
                <div class="form-group">
                    <label for="qr_data">Additional Text</label>
                    <input type="text" class="form-control" id="text" name="qr_data" required>
                </div>
                <button type="submit" class="btn btn-primary">Generate</button>
            </form>
           
            <div class = "qr-preview">
                {% if qr_image_url %}
                    <h2>Your QR code:</h2>
                    <img src="{{ qr_image_url }}" alt="Generate QR Code">
                    <br>
                    <a href="{{qr_image_url}}">Save QR</a>
                {%endif%}
            </div>

        </div>
    </div>
</div>
{% endblock %}